<mat-card>
    <form>
    <mat-form-field>
        <mat-label>Customer Name</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Store Contact</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Software Type and Version</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Back Office Type</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Hardware Type</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>What is the issue</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Work performed</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>E-Auto Ticket #</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Manager Approving this</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>NCR Ticket Number</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
    <mat-form-field>
        <mat-label>NCR Technician Name</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
</form>
</mat-card>