<main>
  <div *ngIf="!authenticated">
    <button mat-raised-button (click)="signIn()">Click here to sign in</button>
  </div>
  <div *ngIf="authenticated">
<mat-card>
  <mat-form-field>
    <mat-label>Select Your Template</mat-label>
    <mat-select [(ngModel)]="selected" name="temp">
      <mat-option *ngFor="let temp of templates" [value]="temp.id">
        {{ temp.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <a mat-raised-button type="SUBMIT" (click)="onSubmit(selected)">SUBMIT</a>
</mat-card>
</div>

<!--<mat-card *ngFor="let team of team">
  <mat-card-header>Team {{ team.team }}</mat-card-header>
  <mat-card-title
    >{{ team.name }} <br />
    {{ team.phone }}</mat-card-title
  >
</mat-card>-->
</main>